<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
</style>
<div class="d-flex flex-column align-items-center">
  <h1 style="font-family: 'Open Sans', sans-serif; font-optical-sizing: auto; font-weight: 300">
    Товары дня
  </h1>

  <div style="margin-top: -1vh">
    <div class="align-items-center d-inline-flex">
      <button
        icon="tuiIconChevronLeftLarge"
        title="Previous"
        tuiIconButton
        type="button"
        (click)="scrollLeft()"
      ></button>
      <tui-carousel
        style="max-width: 60vh; max-height: 40vh"
        [draggable]="true"
        [(index)]="index"
      ><ng-container *ngFor="let item of items">
        <tui-island [hoverable]="true" style="display: flex; flex-direction: column; flex-wrap: wrap; align-content: space-around; align-items: center; text-align: center" *tuiItem>
          <h4 style="font-family: 'Open Sans', sans-serif; font-optical-sizing: auto; font-weight: 300">
            {{item}}
          </h4>
          <img draggable="false" style="cursor:pointer; border-radius: 10px" ngSrc="assets/images/avatar.jpg" alt="" height="200" width="450" >

          <!-- TODO: update documentation here -->
          <a
            class="mt-2"
            href=""
            tuiButton
          >
            На страницу в магазине
          </a>
        </tui-island>
      </ng-container>
      </tui-carousel>
      <button
        icon="tuiIconChevronRightLarge" title="Previous"
        tuiIconButton
        type="button"
        (click)="scrollRight()"
      ></button>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center">
  <h1 style="font-family: 'Open Sans', sans-serif; font-optical-sizing: auto; font-weight: 300">
    Список товаров
  </h1>
</div>
